{% extends 'navbar.html' %}
{% load static %}

{% block content %}

<div id="eby">
  <div id="ebey">
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">Scénario 1</h5>
          <p class="card-text">Challenge sur HTTP et SSH </p>
          <a href="{% url 'h2' %}" class="btn btn-primary">Start</a>
          <a href="#" class="btn btn-secondary">Solution</a>
        </div>
    </div>
</div>

<div id="ebey">
  <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">Scénario 2</h5>
        <p class="card-text">With </p>
        <a href="#" class="btn btn-primary">Start</a>
        <a href="#" class="btn btn-secondary">Solution</a>
      </div>
  </div>
</div>
<div id="ebey">
  <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">Scénario 3</h5>
        <p class="card-text">With supporting</p>
        <a href="#" class="btn btn-primary">Start</a>
        <a href="#" class="btn btn-secondary">Solution</a>
      </div>
  </div>
</div>

<div id="ebey">
<div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Scénario 4</h5>
      <p class="card-text">With supporting </p>
      <a href="#" class="btn btn-primary">Start</a>
      <a href="#" class="btn btn-secondary">Solution</a>
    </div>
</div>
</div>

</div>


{% endblock content %}
